// colors
$flash-green: #8BC34A;
$flash-orange: #FF9800;
$flash-blue: #03A9F4;

.guess-card-container {
  position: relative;
  perspective: 800px;
  min-width: 380px;
  width: 100%;
  min-height: 414px;
}

.guess-card__face {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #607d8b;
  }
  .guess-card__face.guess-card--front {
  }
  .guess-card__face.guess-card--back {
    transform: rotateY(180deg);
  }

.guess-card {
  background-color: #607d8b;
  overflow: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  &.flipped {
    transform: rotateY(180deg);
  }

  // opacity: 1;
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all;
  // &.ng-hide {
  //   opacity: 0.1;
  //   height: 200px;
  // }

  .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .mdl-card__title, .mdl-card__supporting-text, .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  .mdl-card__title img {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mdl-button {
  margin: 5px;
}

input:focus{
  outline-offset: 0;
}

.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

.hint-text {
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;

  &.hint-text--hinted {
    text-transform: lowercase;
  }
  &.hint-text--correct {
    text-transform: capitalize;
  }
}


.completed-names {

  .completed-names__name {
    span.how-many-0, span.how-many-1, span.how-many-2, span.how-many-3 {
      color: green;
    }
    span.how-many-4, span.how-many-5, span.how-many-6 {
      color: red;
    }
  }
}


.Flash {
  position: absolute;
  z-index: 10;
  padding: 12px;
  border-radius: 4px;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  opacity: 0.8;
  bottom: 100px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
  &.ng-hide {
    bottom: -50px;
    opacity: 0;
  }
  span, .icon {
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }
  span {
    margin-left: 5px;
  }
  &.Flash--error {
    background-color: $flash-orange;
  }
  &.Flash--info {
    background-color: $flash-blue;
  }
  &.Flash--success {
    background-color: $flash-green;

  }
}

// underline is broken...?
.guess-textfield {
  .mdl-textfield__label {
    &::after {
      top: 24px;
    }
  }
}


.completed-names__name.ng-move,
.completed-names__name.ng-enter,
.completed-names__name.ng-leave {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.completed-names__name.ng-leave.ng-leave-active,
.completed-names__name.ng-move,
.completed-names__name.ng-enter {
  opacity:0;
  max-height:0;
}

.completed-names__name.ng-leave,
.completed-names__name.ng-move.ng-move-active,
.completed-names__name.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
