doctype html
head
  meta(charset='UTF-8')
  title Me Who Health
  link(rel='stylesheet', href='css/reset.css')
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  //- script(src='vendor/angular.js')
  //- script(src='vendor/angular-animate.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js")
  script(src='js/GameCtrl.js')
  script(src='js/app.js')

  //- trying out material design
  //- link(rel="stylesheet" href="/mdl/material.min.css")
  link(rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.blue_grey-light_blue.min.css")
  script(src="/mdl/material.min.js")

  link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
  link(rel='stylesheet', href='css/mat-des-overrides.css')
  script(src="https://use.fonticons.com/4233cf1e.js")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body(ng-app='facesApp', ng-controller='GameCtrl')
    body
      .container
        .row
          .col-sm-6.col-sm-offset-3
            header
              h3
                | Faces to Guess!
              span.score
                | Score:
                | {{score}}
            .guess-card-container(ng-init="flipped = false")
              .mdl-card.mdl-shadow--4dp.guess-card(ng-show="peopleLeft.length" ng-class="{flipped: flipped}")
                .guess-card__face.guess-card--front
                  .mdl-card__title.mdl-card--expand
                    img(ng-src='{{peopleLeft[index].pictureUrl}}', alt='', style='max-width:350px')
                  .mdl-card__supporting-text
                    span.hint-text(ng-class="{correct: nameParts.first}")
                      | First name:&nbsp;
                      span.hint-text.hint-text--hinted(ng-show='!nameParts.first')
                        | {{peopleLeft[index].firstHint}}
                      span.hint-text.hint-text--correct(ng-show='nameParts.first')
                        | {{peopleLeft[index].firstName}}
                    br
                    span.hint-text(ng-class="{correct: nameParts.last}")
                      | Last name:&nbsp;
                      span.hint-text.hint-text--hinted(ng-show='!nameParts.last')
                        | {{peopleLeft[index].lastHint}}
                      span.hint-text.hint-text--correct(ng-show='nameParts.last')
                        | {{peopleLeft[index].lastName}}
                  .mdl-card__actions.mdl-card--border
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click="useHint('first')")
                      | First name hint
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click="useHint('last')")
                      | Last name hint
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='skip()')
                      | Skip
                    br
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='cheat()')
                      | Cheat
                    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='flipped = !flipped')
                      | Flip
                .guess-card__face.guess-card--back
                  //- .mdl-card__title.mdl-card--expand
                  //-   img(ng-src='{{peopleLeft[index].pictureUrl}}', alt='', style='max-width:350px')
                  //- .mdl-card__supporting-text
                  //-   span.hint-text(ng-class="{correct: nameParts.first}")
                  //-     | First name:&nbsp;
                  //-     span.hint-text.hint-text--hinted(ng-show='!nameParts.first')
                  //-       | {{peopleLeft[index].firstHint}}
                  //-     span.hint-text.hint-text--correct(ng-show='nameParts.first')
                  //-       | {{peopleLeft[index].firstName}}
                  //-   br
                  //-   span.hint-text(ng-class="{correct: nameParts.last}")
                  //-     | Last name:&nbsp;
                  //-     span.hint-text.hint-text--hinted(ng-show='!nameParts.last')
                  //-       | {{peopleLeft[index].lastHint}}
                  //-     span.hint-text.hint-text--correct(ng-show='nameParts.last')
                  //-       | {{peopleLeft[index].lastName}}
                  //- .mdl-card__actions.mdl-card--border
                  //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click="useHint('first')")
                  //-     | First name hint
                  //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click="useHint('last')")
                  //-     | Last name hint
                  //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='skip()')
                  //-     | Skip
                  //-   br
                  //-   button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='cheat()')
                  //-     | Cheat
                  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(ng-click='flipped = !flipped')
                    | Flip

            div(ng-show='peopleLeft.length')
              .mdl-textfield.mdl-js-textfield.guess-textfield
                input.mdl-textfield__input(ng-model='nameMatcher', type='text' id='guess')
                label.mdl-textfield__label(for='guess')
                  | Enter your guess
            h5(ng-show='!peopleLeft.length')
              | Game won!
            h5(ng-show='peopleLeft.length')
              | Completed
            .completed-names
              .completed-names__name(ng-repeat='person in finished')
                span(class="how-many-{{person.hintsUsed}}")
                  | {{person.firstName}} {{person.lastName}} ({{5 - person.hintsUsed}})
      .Flash(ng-hide="!showMessage" class="{{flashClass}}")
        i.icon(ng-class="messageIconClass")
        span
          | {{message}}
