.image-wrap {
  margin: 1rem;
  min-height: 200px;
}
.image-wrap img {
  max-height: 200px;
  max-width: 300px;
}
.control-wrap {
  border: 1px solid gray;
  padding: 12px;
  box-shadow: inset 0 0 10px gray;
  border-radius: 6px;
  /*background-color: lightgray;*/
  /*, 0 0 1em black;*/
}
.correct span {
  color: green;
}
.status {
    min-height: 2em;
}

/* utility classes */
.u-text-center {
  text-align: center;
}

/* typography */

/* reset */
p {
    /*margin: .3rem 0 .7rem;*/
}
