.u-text-center {
  text-align: left; }

.guess-card.mdl-card {
  min-width: 400px;
  width: 100%;
  height: 384px;
  background: #607d8b;
  opacity: 1;
  -webkit-transition: 0.6s ease-in-out all;
  transition: 0.6s ease-in-out all; }
  .guess-card.mdl-card.ng-hide {
    opacity: 0.1;
    height: 200px; }
  .guess-card.mdl-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2); }
  .guess-card.mdl-card > .mdl-card__title, .guess-card.mdl-card > .mdl-card__supporting-text, .guess-card.mdl-card > .mdl-card__actions > .mdl-button {
    color: #fff; }
  .guess-card.mdl-card .mdl-card__title img {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0; }

.mdl-button {
  margin: 5px; }

input:focus {
  outline-offset: 0; }

#game {
  margin-top: 1rem; }

.status {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  opacity: 1; }
  .status.ng-hide {
    opacity: 0; }
  .status.ng-hide-remove {
    opacity: 1; }
  .status.ng-hide-remove-active {
    opacity: 0; }

.ng-hide-add, .ng-hide-remove {
  display: block !important; }

.hint-text {
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase; }
  .hint-text.hint-text--hinted {
    text-transform: lowercase; }
  .hint-text.hint-text--correct {
    text-transform: capitalize; }

.completed-names .completed-names__name span.how-many-0, .completed-names .completed-names__name span.how-many-1, .completed-names .completed-names__name span.how-many-2, .completed-names .completed-names__name span.how-many-3 {
  color: green; }
.completed-names .completed-names__name span.how-many-4, .completed-names .completed-names__name span.how-many-5, .completed-names .completed-names__name span.how-many-6 {
  color: red; }

.Flash {
  position: absolute;
  z-index: 10;
  padding: 12px;
  border-radius: 4px;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  opacity: 0.8;
  bottom: 100px;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all; }
  .Flash.ng-hide {
    bottom: -50px;
    opacity: 0; }
  .Flash span, .Flash .icon {
    text-transform: uppercase;
    color: #ffffff;
    margin: 0; }
  .Flash span {
    margin-left: 5px; }
  .Flash.Flash--error {
    background-color: #FF9800; }
  .Flash.Flash--info {
    background-color: #03A9F4; }
  .Flash.Flash--success {
    background-color: #8BC34A; }

.guess-textfield .mdl-textfield__label::after {
  top: 24px; }

.completed-names__name.ng-move, .completed-names__name.ng-enter, .completed-names__name.ng-leave {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s; }

.completed-names__name.ng-leave.ng-leave-active, .completed-names__name.ng-move, .completed-names__name.ng-enter {
  opacity: 0;
  max-height: 0; }

.completed-names__name.ng-leave, .completed-names__name.ng-move.ng-move-active, .completed-names__name.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1hdC1kZXMtb3ZlcnJpZGVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBTUE7RUFFRSxBQUFZOztBQUtkLEFBQVc7RUFDVCxBQUFXO0VBQ1gsQUFBTztFQUVQLEFBQVE7RUFDUixBQUFZO0VBRVosQUFBUztFQUNULEFBQW9CO0VBQ3BCLEFBQVk7RUFDZCxBQUFXLEFBQVM7SUFDaEIsQUFBUztJQUNULEFBQVE7RUFHWixBQUFXLEFBQVk7SUFDbkIsQUFBYztFQUVsQixBQUFXLEFBQVksQUFBa0IsQUFBVyxBQUFZLEFBQTRCLEFBQVcsQUFBWSxBQUFxQjtJQUNwSSxBQUFPO0VBRVgsQUFBVyxBQUFVLEFBQWlCO0lBRWxDLEFBQVE7SUFDUixBQUFZO0lBQ1osQUFBZTs7QUFJbkI7RUFDRSxBQUFROztBQUdWLEFBQUs7RUFDSCxBQUFnQjs7QUFJbEI7RUFDRSxBQUFZOztBQUdkO0VBQ0UsQUFBbUI7RUFDbkIsQUFBVztFQUNYLEFBQVM7RUFDWCxBQUFPO0lBQ0gsQUFBUztFQUtiLEFBQU87SUFDSCxBQUFTO0VBRWIsQUFBTztJQUNILEFBQVM7O0FBSWIsQUFBYztFQUNaLEFBQVM7O0FBR1g7RUFDRSxBQUFXO0VBQ1gsQUFBYTtFQUNiLEFBQWdCO0VBRWxCLEFBQVU7SUFDTixBQUFnQjtFQUVwQixBQUFVO0lBQ04sQUFBZ0I7O0FBUXBCLEFBQWlCLEFBQXVCLEFBQUksQUFBYSxBQUFpQixBQUF1QixBQUFJLEFBQWEsQUFBaUIsQUFBdUIsQUFBSSxBQUFhLEFBQWlCLEFBQXVCLEFBQUk7RUFDak4sQUFBTztBQUViLEFBQWlCLEFBQXVCLEFBQUksQUFBYSxBQUFpQixBQUF1QixBQUFJLEFBQWEsQUFBaUIsQUFBdUIsQUFBSTtFQUN4SixBQUFPOztBQU1iO0VBQ0UsQUFBVTtFQUNWLEFBQVM7RUFDVCxBQUFTO0VBQ1QsQUFBZTtFQUNmLEFBQU07RUFDTixBQUFhO0VBQ2IsQUFBTztFQUNQLEFBQVM7RUFDVCxBQUFRO0VBQ1IsQUFBb0I7RUFDcEIsQUFBWTtFQUNkLEFBQU07SUFDRixBQUFRO0lBQ1IsQUFBUztFQUViLEFBQU8sQUFBTSxBQUFPO0lBQ2hCLEFBQWdCO0lBQ2hCLEFBQU87SUFDUCxBQUFRO0VBRVosQUFBTztJQUNILEFBQWE7RUFFakIsQUFBTTtJQTlIUyxBQStIWDtFQUVKLEFBQU07SUFoSU8sQUFpSVQ7RUFFSixBQUFNO0lBcklRLEFBc0lWOztBQVFKLEFBQWlCLEFBQXFCO0VBQ2hDLEFBQUs7O0FBTVgsQUFBc0IsQUFBVSxBQUFzQixBQUFXLEFBQXNCO0VBR3JGLEFBQW9CO0VBQ3BCLEFBQVk7O0FBR2QsQUFBc0IsQUFBUyxBQUFrQixBQUFzQixBQUFVLEFBQXNCO0VBR3JHLEFBQVE7RUFDUixBQUFXOztBQUdiLEFBQXNCLEFBQVcsQUFBc0IsQUFBUSxBQUFpQixBQUFzQixBQUFTO0VBRzdHLEFBQVE7RUFDUixBQUFXIiwiZmlsZSI6Im1hdC1kZXMtb3ZlcnJpZGVzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIGNvbG9yc1xuJGZsYXNoLWdyZWVuOiAjOEJDMzRBO1xuJGZsYXNoLW9yYW5nZTogI0ZGOTgwMDtcbiRmbGFzaC1ibHVlOiAjMDNBOUY0O1xuXG4vLyB1dGlsaXR5XG4udS10ZXh0LWNlbnRlciB7XG4gIC8vIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdGV4dC1hbGlnbjogbGVmdDtcblxufVxuXG4vLyBjYXJkXG4uZ3Vlc3MtY2FyZC5tZGwtY2FyZCB7XG4gIG1pbi13aWR0aDogNDAwcHg7XG4gIHdpZHRoOiAxMDAlO1xuICAvLyBoZWlnaHQ6IDM0NHB4O1xuICBoZWlnaHQ6IDM4NHB4O1xuICBiYWNrZ3JvdW5kOiAjNjA3ZDhiO1xuXG4gIG9wYWNpdHk6IDE7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogMC42cyBlYXNlLWluLW91dCBhbGw7XG4gIHRyYW5zaXRpb246IDAuNnMgZWFzZS1pbi1vdXQgYWxsO1xuICAmLm5nLWhpZGUge1xuICAgIG9wYWNpdHk6IDAuMTtcbiAgICBoZWlnaHQ6IDIwMHB4O1xuICB9XG5cbiAgJiA+IC5tZGwtY2FyZF9fYWN0aW9ucyB7XG4gICAgYm9yZGVyLWNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMik7XG4gIH1cbiAgJiA+IC5tZGwtY2FyZF9fdGl0bGUsICYgPiAubWRsLWNhcmRfX3N1cHBvcnRpbmctdGV4dCwgJiA+IC5tZGwtY2FyZF9fYWN0aW9ucyA+IC5tZGwtYnV0dG9uIHtcbiAgICBjb2xvcjogI2ZmZjtcbiAgfVxuICAubWRsLWNhcmRfX3RpdGxlIGltZyB7XG5cbiAgICBtYXJnaW46IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMDtcbiAgICBtYXJnaW4tYm90dG9tOiAwO1xuICB9XG59XG5cbi5tZGwtYnV0dG9uIHtcbiAgbWFyZ2luOiA1cHg7XG59XG5cbmlucHV0OmZvY3Vze1xuICBvdXRsaW5lLW9mZnNldDogMDtcbn1cblxuXG4jZ2FtZSB7XG4gIG1hcmdpbi10b3A6IDFyZW07XG59XG5cbi5zdGF0dXMge1xuICAtd2Via2l0LXRyYW5zaXRpb246YWxsIGVhc2UtaW4tb3V0IDAuNXM7XG4gIHRyYW5zaXRpb246YWxsIGVhc2UtaW4tb3V0IDAuNXM7XG4gIG9wYWNpdHk6IDE7XG4gICYubmctaGlkZSB7XG4gICAgb3BhY2l0eTogMDtcbiAgfVxuICAvLyAmLm5nLWhpZGUtYWRkIHtcbiAgLy8gICBvcGFjaXR5OiAxO1xuICAvLyB9XG4gICYubmctaGlkZS1yZW1vdmUge1xuICAgIG9wYWNpdHk6IDE7XG4gIH1cbiAgJi5uZy1oaWRlLXJlbW92ZS1hY3RpdmUge1xuICAgIG9wYWNpdHk6IDA7XG4gIH1cbn1cblxuLm5nLWhpZGUtYWRkLCAubmctaGlkZS1yZW1vdmUge1xuICBkaXNwbGF5OiBibG9jayAhaW1wb3J0YW50O1xufVxuXG4uaGludC10ZXh0IHtcbiAgZm9udC1zaXplOiAxN3B4O1xuICBsaW5lLWhlaWdodDogMjJweDtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcblxuICAmLmhpbnQtdGV4dC0taGludGVkIHtcbiAgICB0ZXh0LXRyYW5zZm9ybTogbG93ZXJjYXNlO1xuICB9XG4gICYuaGludC10ZXh0LS1jb3JyZWN0IHtcbiAgICB0ZXh0LXRyYW5zZm9ybTogY2FwaXRhbGl6ZTtcbiAgfVxufVxuXG5cbi5jb21wbGV0ZWQtbmFtZXMge1xuXG4gIC5jb21wbGV0ZWQtbmFtZXNfX25hbWUge1xuICAgIHNwYW4uaG93LW1hbnktMCwgc3Bhbi5ob3ctbWFueS0xLCBzcGFuLmhvdy1tYW55LTIsIHNwYW4uaG93LW1hbnktMyB7XG4gICAgICBjb2xvcjogZ3JlZW47XG4gICAgfVxuICAgIHNwYW4uaG93LW1hbnktNCwgc3Bhbi5ob3ctbWFueS01LCBzcGFuLmhvdy1tYW55LTYge1xuICAgICAgY29sb3I6IHJlZDtcbiAgICB9XG4gIH1cbn1cblxuXG4uRmxhc2gge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHotaW5kZXg6IDEwO1xuICBwYWRkaW5nOiAxMnB4O1xuICBib3JkZXItcmFkaXVzOiA0cHg7XG4gIGxlZnQ6IDUwJTtcbiAgbWFyZ2luLWxlZnQ6IC0xNDBweDtcbiAgd2lkdGg6IDI4MHB4O1xuICBvcGFjaXR5OiAwLjg7XG4gIGJvdHRvbTogMTAwcHg7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogMC4zcyBlYXNlLWluLW91dCBhbGw7XG4gIHRyYW5zaXRpb246IDAuM3MgZWFzZS1pbi1vdXQgYWxsO1xuICAmLm5nLWhpZGUge1xuICAgIGJvdHRvbTogLTUwcHg7XG4gICAgb3BhY2l0eTogMDtcbiAgfVxuICBzcGFuLCAuaWNvbiB7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBjb2xvcjogI2ZmZmZmZjtcbiAgICBtYXJnaW46IDA7XG4gIH1cbiAgc3BhbiB7XG4gICAgbWFyZ2luLWxlZnQ6IDVweDtcbiAgfVxuICAmLkZsYXNoLS1lcnJvciB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogJGZsYXNoLW9yYW5nZTtcbiAgfVxuICAmLkZsYXNoLS1pbmZvIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkZmxhc2gtYmx1ZTtcbiAgfVxuICAmLkZsYXNoLS1zdWNjZXNzIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkZmxhc2gtZ3JlZW47XG5cbiAgfVxufVxuXG5cbi5ndWVzcy10ZXh0ZmllbGQge1xuICAubWRsLXRleHRmaWVsZF9fbGFiZWwge1xuICAgICY6OmFmdGVyIHtcbiAgICAgIHRvcDogMjRweDtcbiAgICB9XG4gIH1cbn1cblxuXG4uY29tcGxldGVkLW5hbWVzX19uYW1lLm5nLW1vdmUsXG4uY29tcGxldGVkLW5hbWVzX19uYW1lLm5nLWVudGVyLFxuLmNvbXBsZXRlZC1uYW1lc19fbmFtZS5uZy1sZWF2ZSB7XG4gIC13ZWJraXQtdHJhbnNpdGlvbjogYWxsIGVhc2UtaW4tb3V0IDAuNXM7XG4gIHRyYW5zaXRpb246IGFsbCBlYXNlLWluLW91dCAwLjVzO1xufVxuXG4uY29tcGxldGVkLW5hbWVzX19uYW1lLm5nLWxlYXZlLm5nLWxlYXZlLWFjdGl2ZSxcbi5jb21wbGV0ZWQtbmFtZXNfX25hbWUubmctbW92ZSxcbi5jb21wbGV0ZWQtbmFtZXNfX25hbWUubmctZW50ZXIge1xuICBvcGFjaXR5OjA7XG4gIG1heC1oZWlnaHQ6MDtcbn1cblxuLmNvbXBsZXRlZC1uYW1lc19fbmFtZS5uZy1sZWF2ZSxcbi5jb21wbGV0ZWQtbmFtZXNfX25hbWUubmctbW92ZS5uZy1tb3ZlLWFjdGl2ZSxcbi5jb21wbGV0ZWQtbmFtZXNfX25hbWUubmctZW50ZXIubmctZW50ZXItYWN0aXZlIHtcbiAgb3BhY2l0eToxO1xuICBtYXgtaGVpZ2h0OjQwcHg7XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */