@color: #99CCFF;
div {
  font-size: 12px;
}

h1 {
  color: @color;
  font-size: 24px;
}

.image-wrap {
  margin: 1rem;
  min-height: 200px;
  img {
    max-height: 200px;
    max-width: 300px;
  }
}


/* utility classes */
.u-text-center {
  text-align: center;
}


